@use "vars" as *;

section {
    padding-top: 50px;
    position: relative;
    background-color: $bg-secondary;
}

.series-label {
    background-color: $bg-primary;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    top: -3.5%;
}

h2, button {
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.column {
    position: relative;
    width: calc(100% / 6);
}

.card {
    padding: 15px;
    margin-bottom: 20px;
    height: 300px;
    border-radius: 5px;
    text-transform: uppercase;
    color: $white;
    transition: color 0.4s ease, transform 0.4s ease;

    &:hover {
        color: $bg-primary;
        transform: translateY(-5%);
    }
}

.card img {
    height: 250px;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    filter: saturate(90%);
    transition: filter 0.4s ease, box-shadow 0.4s ease;

    &:hover {
        filter: saturate(180%);
        box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.5);
    }
}

button {
    display: inline-block;
    padding: 15px 60px;
    padding-top: 17px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: $bg-primary;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .btn-container {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 15px;
  }
