@use 'vars' as *;

// Generics
body {
    font-family: $font-primary;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: $black;
    text-decoration: none;
}